@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap);


:root{
	--primary-color: #e4bb23
}
* {
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased
}
body{
	font-family: 'Montserrat', sans-serif;
	background-color: #f2f2f2;
}
ul{
	padding: 0;
	margin: 0;
}
li{
	cursor: pointer;
}
.container{
	width: 940px;
	margin: 0 auto;
}
.top{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url('../img/capa-madmax2.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #fff;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	cursor: pointer;
}
.menu ul{
	display: flex;
}
.menu ul li{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	margin: 0 2rem;
	transition: 0.2s;
}
.menu ul li:hover{
	color: var(--primary-color);
}
.user{
	display: flex;
	align-items: center;
	margin: 1rem 0;
	width: 18%;
	justify-content: space-between;
	font-size: 0.9em;
	font-weight: bold;
}
.user li img{
	border-radius: 50%;
	height: 3em;
	width: 3em;
}
.movie-highlight{
	height: 48rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.movie-highlight .movie-title{
	font-size: 4rem;
	text-transform: uppercase;
	margin: 0;
}
.movie-highlight .movie-genres{
	display: flex;
	font-size: 0.8rem;
	margin: 1rem 0;
}
.movie-highlight .movie-genres li {
	margin-right: 1em;
	text-transform: uppercase;
	transition: 0.2s;
}
.movie-highlight .movie-genres li:hover{
	color: var(--primary-color);
}
.movie-highlight a{
	display: inline-block;
	background-color: var(--primary-color);
	width: 12rem;
	height: 3rem;
	text-align: center;
	padding: 1em;
	color: black;
	margin: 1em 0 2em;
	font-size: 0.9rem;
	font-weight: 500;
	border-radius: 2rem;
	transition: 0.2s;
}
.movie-highlight a:hover{
	filter: brightness(80%);
}
.availability{
	font-size: 0.9rem;
}
.release-date{
	color: #e4bb2391;
	margin-top: 1em;
	font-size: 0.9rem;
	margin-bottom: 4em;
}
.categories{
	display: flex;
	justify-content: center;
	color: var(--primary-color);
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
	border-bottom: 1px solid #e2e2e2;
}
.categories .tags{
	padding: 2em;
	border-bottom: 1px solid transparent;
	transition: 0.3s;
}
.categories .tags:hover{
	border-bottom: 1px solid var(--primary-color);
}
.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2em;
}
.cards .movie-card{
	width: 24%;
	margin-bottom: 2rem;
	background-color: white;
	box-shadow: 2px 2px 8px -4px;
	border-radius: 8px;
	position: relative;
}
.cards .movie-card img{
	width: 100%;
	border-radius: 8px 8px 0 0;
}
.cards .movie-card h6{
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em;
	font-size: 0.8em;
}
.cards .movie-card .movie-tags{
	color: var(--primary-color);
	font-size: 0.8rem;
	margin: 1em;
	display: flex;
}
.cards .movie-card .movie-tags li{
	margin-right: 0.5rem;
	border-bottom: 1px solid transparent;
	transition: 0.2s;
}
.cards .movie-card .movie-tags li:hover{
	border-bottom: 1px solid var(--primary-color);
}
.cards .movie-card .like{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 0.8rem 0.8rem;
	font-size: 1.2rem;
	font-weight: bold;
}
.cards .movie-card i, .social-media i{
	color: #bababa;
	transition: 0.2s;
}
.cards .movie-card i:hover{
	color: #e74c3c;
}
footer{
	background-color: white;
}
footer div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer div .social-media{
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
	width: 15%;
}
.social-media i{
	font-size: 1.5rem;
}
.social-media .twitter i:hover{
	color: #00acee;
}
.social-media .facebook i:hover{
	color: #3b5998;
}
.social-media .instagram i:hover{
	color: #e95950;
}

/* MOBILE */

@media (max-width: 375px){
	.container{
		width: 90%;
	}
	.top{
		background-size: cover;
		background-attachment: initial;
	}
	.menu ul{
		flex-direction: column;
    height: 3.5em;
    justify-content: space-between;
    margin-top: 1em;
    align-items: center;
	}
	.user{
		justify-content: flex-end;
	}
	.user li img{
		height: 2em;
		width: 2em;
		margin-right: 1em;
	}
	.user li:last-child{
		font-size: 0.8rem;
	}
	.logo{
		width: 20%;
	}
	.movie-highlight{
		height: 30rem;
	}
	.movie-highlight .movie-title{
		font-size: 2rem;
	}
	.movie-highlight a{
		width: 10rem;
		height: 2rem;
		padding: 0.5rem;
		margin: 0 0 1em;
	}
	.release-date{
		margin-bottom: 1em;
	}
	.categories{
		flex-direction: column;
		align-items: center;
	}
	.cards .movie-card{
		width: 100%;
	}
	footer div .social-media{
		width: 30%;
	}
}

@media (min-width: 376px) and (max-width: 767px){
	.container{
		width: 90%;
	}
	.top{
		background-size: cover;
		background-attachment: initial;
	}
	.menu ul{
		flex-direction: column;
    height: 3.5em;
    justify-content: space-between;
    margin-top: 1em;
    align-items: center;
	}
	.user{
		justify-content: flex-end;
	}
	.user li img{
		height: 2em;
		width: 2em;
		margin-right: 1em;
	}
	.user li:last-child{
		font-size: 0.8rem;
	}
	.logo{
		width: 20%;
	}
	.movie-highlight{
		height: 30rem;
	}
	.movie-highlight .movie-title{
		font-size: 2rem;
	}
	.movie-highlight a{
		width: 10rem;
		height: 2rem;
		padding: 0.5rem;
		margin: 0 0 1em;
	}
	.release-date{
		margin-bottom: 1em;
	}
	.categories{
		flex-direction: column;
		align-items: center;
	}
	.cards .movie-card{
		width: 48%;
	}
	footer div .social-media{
		width: 15%;
	}
}

@media (min-width: 768px) and (max-width: 1345px){
	.container{
		width: 90%;
	}
	.top{
		background-size: cover;
		background-attachment: initial;
		padding-top: 1em;
	}
	.menu ul li{
		margin: 0 1.5rem;
	}
	.user li img{
		height: 2em;
		width: 2em;
		margin-right: 1em;
	}
	.logo{
		width: 12%;
	}
	.movie-highlight{
		height: 30rem;
	}
	.movie-highlight .movie-title{
		font-size: 3rem;
	}
	.movie-highlight a{
		width: 10rem;
		height: 2rem;
		padding: 0.5rem;
		margin: 0 0 1em;
	}
	.release-date{
		margin-bottom: 2em;
	}
	.cards .movie-card{
		width: 30%;
	}
}